#map {
  height: 100vh;
  width: 100vw;
}

#details {
  position: fixed;
  z-index: 9999;
  padding: 1em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  border-radius: 10px;
  bottom: 2em;
  left: 1em;
  right: 1em;
  background: #323232b8;
  backdrop-filter: blur(4px);
}

#details h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-bottom: 1em;
}

#distance {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}