#infoIcon {
  font-size: 2.1em;
}

#gettingStartedDiv {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gettingStarted {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1.2em;
  color: black;
}

#statsSection {
  display: flex;
  color: white;
  padding: 1em;
  margin: 1em;
  background: var(--ion-color-primary);
  border-radius: 12px;
}

#statsSection img {
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  background: white;
  margin-right: 12px;
}

#statsHeader {
  display: flex;
  align-items: center;
}

#statsDetails h2 {
  font-weight: bold;
}

@media(min-width: 1023px) {
  #walkList {
    margin-right: 14em;
    margin-left: 14em;
  }
}

@media(min-width: 1300px) {
  #walkList {
    margin-right: 18em;
    margin-left: 18em;
  }
}